* {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: black;
}

div.menu {
    
    background-color: transparent;
    border: none;
    text-align: right;
    display: inline-block;
    font-size: 22px;
    font-family: 'Calibri';
    position: absolute;
    right: 0px; 
    padding-top: 20px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;

}
div.header {
    
    font-family: impact;
    font-size: 32px;
    text-align: center;
    color: lightgray;
    align-items: center;

}

iframe {
    margin-left: auto;   
    margin-right: auto;
    display: block;
    border: 6px solid lightgrey;
} 





